@media screen and(min-width:1920px) {
    
.TinNB{
    height: 376px;
    align-items: center;
    justify-content: center;
    padding-left: 235px;
}

.News_bds{
    font-size: 24px;
    line-height: 32px;
    cursor: pointer;
    background: #fff;
    border: none;
}


.News_bds:hover {
    position:static;
    border-bottom: 2px solid #c52121;
    font-weight: 600;
   
}

.News_bds:after{
    border-bottom: 2px solid #c52121;
    font-weight: 600;
}



.News_BDS_2{
    display: flex;
    padding-left: 100px;
    width: 848px;
    height: 55px;
    text-align: center;
    justify-content: center;
}



.News_BDS_3{
    display: flex;
    padding-left: 100px;
    text-align: center;
    justify-content: center;
}

.News_bds_3{
    display: flex;
    padding-right: 30px ;
    
}

.next_news{
    font-size: 10px;
    color: #c52121;
    background-color: #fff;
    border: none;
    cursor: pointer;
}


.nv1{
    position: absolute;
}

.News_BDS_2 {
    display: flex;
    padding-left: 28px;
    width: 848px;
    height: 55px;
    text-align: center;
    justify-content: center;
}

.AllNews {
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}



.Page_NewsMain{
    padding-left: 88px;
}

.Tin_nổi_bật {
    width: 458px;
    height: 365px;
    padding-left: 76px;
}


}


/*Css media for Tablet*/
@media only screen and (min-width:768px) and (max-width:1000px){
    .n456{
        right: 100px;
        width: 360px ;
        height: 52px;
        cursor: pointer;
    }
    
   


.News_1 {
    display: flex;
    justify-content: center;   
    width: 360px;
    height: 62px;
    font-family: "Roboto Regular", Roboto, Arial !important;
    font-size: 16px;
    color: #2C2C2C;
    text-transform: capitalize;
    
}



.News_Right{
    margin: 1px solid black ;
}

.TinNoiBat{
    width: 100%;
    height: 100%;
    padding-top: 100px;
} 
    .n123 {
        left: -154px;
        position: absolute;
    }
    .News_BDS_2 {
        width: 100%;
        height: 0px;
        padding-top: 28%;
        display: grid;
        grid-template-columns: repeat(5,auto);
        
    }

    .News_bds_3 {
        display: flex;
        padding-right: 30px;
        padding-bottom: 40px;
    }

    .News_bds {
        font-size: 14px;
        line-height: 32px;
        cursor: pointer;
        background: #fff;
        border: none;
    }
    .Page_NewsMain {
        padding-left: 0px;
    }
    .TinNB {
        height: 481px;
        align-items: center;
        justify-content: center;
        padding-left: 5px;
    }
    .All_page_news {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-left: 30%;
    }

    .n456 {
        margin-top: 50px;
        width: 193px;
        height: 52px;
        cursor: pointer;
        font-size: 12px;
    }
    .AllNews {
       margin-top: 10%;
       margin-bottom: 20%;
    }

    .News_1 {
        display: flex;
        justify-content: center;
        width: 204px;
        height: 62px;
        font-family: "Roboto Regular", Roboto, Arial !important;
        font-size: 10px;
        color: #2C2C2C;
        text-transform: capitalize;
    }

    .next_news{
        border: none;
        background-color: white;
        color: red;
    }

    .LinkSubjectNews{
        font-size: 16px;
        text-decoration: none;
        color: black;
        width: 200px;

    }

   
}
