.Link_Header{
    text-decoration: none;
    color: white;
    padding-left: 30px;
    
}

.OptionHeaderClothes:hover{
    color: rgb(203, 207, 211);
}

.OptionClothes{
    font-family: 'Courier New', Courier, monospace;
    padding-left: 25px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.OptionHeaderClothes{
    font-size: 20px;
    font-weight: 700;
    color: white;
}


