.SearchEngineFromNews{
    border: none;
    width: 1130px;
    font-size:16px ;
    color: black;
    outline: none;
    padding-right: 20px;
    
}

.LineOnSearchEngineFromNews{
    width: 1px;
    height: 20px;
    background-color: #c3c0c0;
    
}

.SubjectNewsBDS{
    width: 900px;
    text-align: center;
    padding-top: 50px;

}

.SubjectNewsBDS p{
    font-size: 18px;
    text-align: start;
}

.SubjectNewsBDS h1{
    font-weight: 600;
    font-size: 48px;
    margin-bottom: 20px;
}


.SubjectOnNewsMain:hover{
    color: rgb(196, 194, 194);
}

.MainPageOnPageNews4{
    padding-left: 400px;
    display: flex;
  
}

.MainPageOnPageNews2{
    padding-left: 300px; 
    display: flex;
     padding-top: 60px;
}

.MainPageOnPageNews3{
    padding-left: 400px;
    display: flex;
}
@media  only screen and (max-width : 1440px) {
    .MainPageOnPageNews{
        padding-left: 50px;
      

    }

    .MainPageOnPageNews2{
        padding-left: 100px;
    }

    .MainPageOnPageNews3{
        padding-left: 200px;
    }

    .IntroduceOnPageNews{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .MainPageOnPageNews4{
        padding-left: 200px;
    }
}
