@media screen and (min-width:1440px) and (max-width:2056px) {
    .Subject_Introduce:hover{
        color: rgb(158 156 156);
        cursor: pointer;
    }
    
    .AllOption_Introduce1{
        display: grid;
        padding-left: 243px;    
        grid-template-columns: auto auto auto auto;
        
    }
    
    .AllOption_Introduce2{
        display: grid;
        padding-left: 243px;    
        grid-template-columns: auto auto auto auto;
    }
    
    .AllOption_Introduce3{
        width: 262px;
    }
    
}

@media screen and (min-width:768px) and (max-width:1024px) {
    .Subject_Introduce:hover{
        color: rgb(158 156 156);
        cursor: pointer;
    }
    
    .AllOption_Introduce1{
        display: grid;
       
        grid-template-columns: auto auto;
        padding-left: 40px;
        
    }
    
    .AllOption_Introduce2{
        display: grid;
       
        grid-template-columns: auto auto;
        padding-left: 40px;
        padding-bottom: 40px;
    }
    
    .AllOption_Introduce3{
       
    }
    
}

