@media screen and (min-width : 2560px) {
    .main_left {
        margin-left: 5%;
    }

    .NewsBDSOnMain {
        padding-top: 20%;
        padding-bottom: 200px;
    }

    .main_nvbar {
        width: 79%;
    }

    .bdsfy_side1 {
        display: flex;
        justify-content: start;
        padding-left: 10%;


    }

    .main_oustanding {
        margin-right: 823px;
    }

    .BDS_DD_Main1 {
        margin-right: 795px;

    }

    .bt_dd_main {
        margin-right: 795px;
    }

    .DoanhNghiepTieuBieuOnMain {
        margin-right: 723px;
    }

    .Option_BaoChinoiveBDS1 {
        margin-right: 148px;
    }

    .Last_Page {
        display: flex;


    }

    .Link_Last_Page2 {
        margin-right: 15%;
    }

    .Main_Introduce {
        margin-right: 20%;
    }

    .AllOption_Introduce1 {

        padding-right: 200px;

    }

    .Introduce_BDS1 {
        padding-left: 236px;
    }

    .LastIntroduce2 {
        width: 67%;
    }



    .AllBranch {
        width: 70%;
    }

    .AllBranch {
        display: grid;
        grid-template-columns: auto auto auto;
        transition: height 4s;
        transition-delay: 1s;
    }


    .LicenseAll {
        width: 1645px;
    }


    .AllOption_Introduce2 {
        width: 83%;
    }

    .Introduce_BDS1 {
        padding-right: 300px;
    }

    .LastIntroduce {
        width: 800px;
    }

    .Subject_News{
        width: 600px;
        font-weight: 600;
    }



}


@media screen and (min-width:1920px) and (max-width:2559px) {
    .headerOutstanding {
        padding-left: 116px;

    }

    .main_oustanding {
        display: flex;
        width: 100%;

        padding-left: 9%;
    }

    .BDS_DD_Main1 {
        display: flex;

        padding-top: 100px;
        padding-left: 4%;
    }

    .bt_dd_main {
        padding-left: 3%;
    }

    .TinTucMainBDS {
        padding-left: 9%;
        padding-top: 100px;
        padding-bottom: 100px;
        width: 1211px;
    }

    .headerSP {
        padding-left: 157px;
    }

    .All_SP_Client {
       padding-left: 149px;
        display: grid;
        width: 100%;
        grid-template-columns: auto auto auto auto;
        width: 1000px;
    }

    .DoanhNghiepTieuBieuOnMain {
        display: flex;
        justify-content: center;
        padding-bottom: 100px;
        padding-left: 323px;
        width: 1019px;
        padding-left: 177px;
    }

    .BaoChiNoiVeBDSMain {
        display: flex;
        padding-left: 134px;
    }


    .n123 {
        left: -91px;
        position: absolute;
    }

    .SPClientOnMain {
        padding-left: 0;
    }

    .splideReprsentEnterprise {}

    .DNTB {
        width: 1095px;
    }

    .SubjectBC2 {
        margin: 0;
        display: flex;
        justify-content: end;
        width: 639px;
    }

    .AllNews {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 44px;
    }

    .headerOutstanding {
        padding-left: 137px;
        display: flex;
        align-items: center;
    }

    .Option_BaoChinoiveBDS2 {
        padding-left: 83px;
    }

    .Introduce_BDS1 {
        padding-left: 12%;
    }

    .AllOption_Introduce1 {
        display: grid;
        padding-left: 20%;
        grid-template-columns: auto auto auto auto;
    }

    .AllOption_Introduce2 {
        display: grid;
        padding-left: 20%;
        grid-template-columns: auto auto auto auto;
        margin-bottom: 5%;
    }

    .NewsBDSOnMain {
        padding-top: 200px;
        padding-bottom: 84px;

    }

    .News_BDS_2 {
        display: flex;
        padding-left: 23px;
        width: 2000px;
        height: 55px;
        text-align: center;
        padding-left: 9%;
    }

    .News_bds {
        border: none;
        background-color: white;
        font-size: 24px;
    }

    .Tin_nổi_bật {
        padding-left: 200px;
    }

    .LinkSubjectNews {
        font-size: 20px;
        text-decoration: none;
        color: black;
        text-transform: capitalize;
        width: 477px;
    }


    .News_bds_3:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #c52121;
        transform-origin: bottom right;
        transition: transform 0.25s;
    }

    .News_bds_3:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }

    .News_bds_3{
        position: relative;
       
       
        font-size: 14px;
        display: flex;
        justify-content: center;
        

    }

    .News_bds{
        cursor: pointer;
    }

    .next_news {
        color: red;
        background-color: white;
        border: none;
        padding-left: 500px;
    }

    .n456 {
        padding-left: 650px;
        font-size: 20px;
        width: 477px;
    }

    .TinNB {
        height: 376px;
        align-items: center;
        justify-content: center;
        padding-left: 168px;
    }

    
    .Subject_News{
        width: 600px;
        font-weight: 600;
    }

    .Page_NewsMain {
        padding-left: -49px;
    }



    .openMore {

        width: 100%;

    }

    .main_oustanding{
        display: grid;
        grid-template-columns: repeat(4,auto);
    }

  

    

    .Last_Page {
        width: 100%;
        background-color: rgb(210, 210, 210);
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .Link_Last_Page {
        padding-left: 5%;
    }

    .Link_Last_Page2 {
        padding-left: 5%;
    }


}




@media screen and (min-width : 1440px) and (max-width:1919px) {
    .headerOutstanding {
        padding-left: 116px;

    }

    .main_oustanding {
        display: flex;
        width: 100%;

        padding-left: 9%;
    }

    .BDS_DD_Main1 {
        display: flex;
        justify-content: center;
        padding-top: 100px;
        padding-left: 4%;
    }

    .bt_dd_main {
        padding-left: 3%;
    }

    .TinTucMainBDS {
        padding-left: 9%;
        padding-top: 100px;
        padding-bottom: 100px;
        width: 1211px;
    }

    .headerSP {
        padding-left: 67px;
    }

    .All_SP_Client {
        padding-left: 58px;
        display: grid;
        width: 100%;
        grid-template-columns: auto auto auto auto;
        width: 1000px;
    }

    .DoanhNghiepTieuBieuOnMain {
        display: flex;
        justify-content: center;
        padding-bottom: 100px;
        padding-left: 323px;
        width: 1019px;
        padding-left: 177px;
    }

    .BaoChiNoiVeBDSMain {
        display: flex;
        padding-left: 134px;
    }


    .n123 {
        left: -91px !important;
        position: absolute;
    }

    .SPClientOnMain {
        padding-left: 7%;
    }

    .splideReprsentEnterprise {}

    .DNTB {
        width: 1095px;
    }

    .SubjectBC2 {
        margin: 0;
        display: flex;
        justify-content: end;
        width: 639px;
    }

    .AllNews {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 44px;
    }

    .headerOutstanding {
        padding-left: 137px;
        display: flex;
        align-items: center;
    }

    .Option_BaoChinoiveBDS2 {
        padding-left: 83px;
    }

    .Introduce_BDS1 {
        padding-left: 22px;
    }

    .AllOption_Introduce1 {
        display: grid;
        padding-left: 32px !important;
        grid-template-columns: auto auto auto auto;
    }

    .AllOption_Introduce2 {
        display: grid;
        padding-left: 35px !important;
        grid-template-columns: auto auto auto auto;
    }

    .NewsBDSOnMain {
        padding-top: 200px;
        padding-bottom: 84px;

    }

    .News_BDS_2 {
        display: flex;
        padding-left: 23px;
        width: 848px;
        height: 55px;
        text-align: center;
        justify-content: center;
    }

    .TinNB {
        height: 376px;
        align-items: center;
        justify-content: center;
        padding-left: 168px;
    }

    .Page_NewsMain {
        padding-left: -49px;
    }

    .News_BDS_2 {
        display: flex;
        padding-left: 20px;
        width: 848px;
        height: 55px;

        width: 2681px;
    }

    .openMore {

        width: 100%;

    }

    .BDS_DD_Right {
        width: 651px;
        height: 440px;
        display: grid;
        grid-template-columns: auto auto;
        padding-top: 87px;
    }

    .BDS_DD_Main2 {
        padding-right: 35px;
    }

    .BDS_DD_Main_link {
        text-decoration: none;
    }

    .BDS_DD_IMG_1_Main {
        width: 554px;
        height: 410px;
    }

    .bds_dd_subject_Main {
        text-decoration: none;
        padding-left: 10px;
    }

    .bds_dd_subject_1_Main {
        color: white;
        font-size: 20px;
        margin-bottom: 0;
    }

    .bds_dd_subject_2_Main {
        color: white;
        margin-top: 0;
        font-size: 14px;
    }

    .bt_dd_main {
        display: flex;
        padding-left: 9.5%;
    }

    .bt_dd1 {
        padding-right: 10px;
    }

    .bt_dd {
        width: 162px;
        height: 25px;
        color: white;
        border-radius: 7px;
        border: none;
        cursor: pointer;
    }

    .bt_dd2 {
        color: black;
        text-decoration: none;
    }

    .Last_Page {
        width: 100%;
        background-color: rgb(210, 210, 210);
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .Link_Last_Page {
        padding-left: 5%;
    }

    .Link_Last_Page2 {
        padding-left: 5%;
    }

    .Main_Introduce {
        margin-bottom: 5%;
    }

    .NewsBDSOnMain {
        padding-top: 200px;
        padding-bottom: 84px;

    }

    .News_BDS_2 {
        display: flex;
        padding-left: 23px;
        width: 1129px;
        height: 55px;
        text-align: center;
        padding-left: 9%;
    }

    .News_bds {
        border: none;
        background-color: white;
        font-size: 24px;
    }

    .Tin_nổi_bật {
        padding-left: 200px;
    }

    .LinkSubjectNews {
        font-size: 20px;
        text-decoration: none;
        color: black;
        text-transform: capitalize;
        width: 477px;
    }


    .News_bds_3:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #c52121;
        transform-origin: bottom right;
        transition: transform 0.25s;
    }

    .News_bds_3:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }

    .News_bds_3{
        position: relative;
       
       
        font-size: 14px;
        display: flex;
        justify-content: center;
        

    }

    .News_bds{
        cursor: pointer;
    }

    .next_news {
        color: red;
        background-color: white;
        border: none;
        padding-left: 500px;
    }

    .n456 {
        padding-left: 650px;
        font-size: 20px;
        width: 477px;
    }

    .TinNB {
        height: 376px;
        align-items: center;
        justify-content: center;
        padding-left: 168px;
    }



}


@media only screen and (min-width: 768px) and (max-width: 900px) {
    .Lastpage_2{
        width: 100%;
        background-color: rgb(240, 240, 240);
        padding-bottom: 20px;
        padding-top: 20px;
        display: flex;
        justify-content: center;
    }
}